/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: white;
  font-family: 'GothamPro';
  font-size: 0.9rem;
  font-weight: 600;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
h4,
p,
i {
  cursor: pointer;
}

[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}


/* UTILITY CLASSES */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}


/* WRAPPER */

.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


/* MAIN SITE CONTENT */

.site-content {
  height: calc(100% - 100px);
}


/* SIDEBAR MAIN MENU */

.main-menu {
  background-color: #000000;
  width: 250px;
  min-width: 250px;
  flex-flow: column;
  justify-content: space-between;
}

.main-menu-mobile {
  display: none;
}

.logo {
  padding: 20px 0 0 20px;
}

.logo>img {
  width: 65%;
}

.main-menu-top a,
.main-menu-bottom a {
  width: fit-content;
}

.main-menu-top li img {
  width: 30px;
}

.main-menu-top li a {
  color: #a3a3a3;
  display: flex;
  align-items: center;
}

.home {
  margin: 30px 0;
}

.home li a {
  padding-left: 20px;
  height: 40px;
  border-left: 3px solid black;
}

.home li a:hover {
  transition: 0.5s;
  color: white;
  border-left: 3px solid #adff2f;
}

.home span {
  margin-left: 10px;
}

.playlist h5 {
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 20px;
  border-left: 3px solid black;
}

.crea-playlist,
.nome-playlist {
  margin-left: 20px;
}

.crea-playlist .fas {
  font-size: 40px;
  color: #a3a3a3;
  border-left: 3px solid black;
}

.crea-playlist a {
  display: flex;
  align-items: center;
}

.crea-playlist a:hover .fas,
.crea-playlist a:hover span {
  transition: 0.5s;
  color: white;
}

.crea-playlist span {
  color: #a3a3a3;
  margin-left: 10px;
  font-size: 1rem;
}

.nome-playlist ul li {
  margin: 25px 0;
  border-left: 3px solid black;
}

.nome-playlist li a:hover {
  transition: 0.5s;
  color: white;
}

.main-menu-bottom {
  padding: 20px 20px 0;
}

.installa a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #a3a3a3;
}

.installa a:hover {
  transition: 0.5s;
  color: white;
}

.installa img {
  height: 15px;
  margin-right: 10px;
}

.username {
  border-top: 1px solid #a3a3a3;
  padding: 15px 15px 10px 0;
}

.username a {
  display: flex;
  align-items: center;
}

.username span {
  font-size: 1.0rem;
  font-weight: 600;
  color: white;
}

.username img {
  width: 25px;
  height: 25px;
  background-color: #a3a3a3;
  border-radius: 100%;
  margin-right: 10px;
}


/* COVERS SECTION */

.covers_section {
  background-color: #141922;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  padding-top: 100px;
  width: calc(100% - 250px);
}

.item {
  text-align: center;
  margin: 30px 0;
  max-width: 200px;
  min-height: 282px;
}


/* SUBSCRIBE BANNER */

.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  width: calc(100% - 250px);
  background-color: #00000087;
  justify-content: flex-end;
  align-items: center;
}

.subscribe {
  font-size: 0.8rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 22px 38px;
  text-align: center;
  display: inline-block;
  margin-right: 25px;
  border-radius: 25px;
  height: 35px;
  line-height: 0px;
  cursor: pointer;
}

.subscribe:hover {
  transition: 1ms;
  transform: scale(1.05);
}


/* NAV */

nav {
  justify-content: center;
}

nav a {
  margin: 25px 15px;
  color: #a3a3a3;
  position: relative;
}

nav a:hover {
  transition: 0.5s;
  transform: scale(1.0);
  color: white;
}

nav a span::after {
  position: absolute;
  content: '';
  clear: both;
  display: table;
  width: 35px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #adff2f;
  visibility: hidden;
}

nav a span:hover::after {
  visibility: visible;
  transition: 0.5s;
}


/* RECENTLY PLAYED SECTION */

.covers_section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
}

.item img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.item h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}

.item p {
  color: #a3a3a3;
  font-size: 0.7rem;
  font-weight: 500;
}

.cover-image {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cover-overlay,
.cover-overlay-rounded {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover-overlay-rounded {
  border-radius: 50%;
}

.cover-overlay i,
.cover-overlay-rounded i {
  margin-top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
}

.cover-image:hover .cover-overlay,
.cover-image:hover .cover-overlay-rounded {
  display: block;
}

.subtitle {
  cursor: auto;
  margin-top: 10px;
  color: #a3a3a3;
  font-size: 0.75rem;
  font-weight: 500;
}


/* POPULAR */

.popular img {
  border-radius: 50%;
}


/* SITE FOOTER */

footer.site_footer {
  background-color: #282828;
  height: 100px;
}

.player {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.track,
.controls {
  width: 17%;
}

.track {
  justify-content: space-between;
}

.track-cover {
  align-items: center;
}

.track-cover img {
  height: 50px;
  margin: 0 15px;
}

.track-cover h4 {
  font-weight: 600;
}

.track-cover p {
  color: #a3a3a3;
  font-size: 0.7rem;
  font-weight: 600;
}

.track-fav {
  align-items: center;
  margin-left: 10px;
}

.track-fav i {
  font-size: 1rem;
  margin: 0 6px;
  color: #a3a3a3;
}

.play {
  flex-flow: column;
  width: 40%;
  justify-content: space-around;
}

.play i {
  font-size: 1.1rem;
  margin: 0 15px 15px;
}

.play-controls {
  justify-content: center;
  align-items: center;
}

.play-controls>i.far.fa-play-circle {
  font-size: 2rem;
}

.timebar {
  flex-flow: row;
  align-items: center;
}

.timebar .cursor {
  width: 100%;
  background-color: gray;
  height: 5px;
  border-radius: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.timebar .cursor-overlay {
  width: 25%;
  background-color: lightgray;
  height: 5px;
  border-radius: 10px;
}

.time {
  font-size: 0.7rem;
}

.controls {
  align-items: center;
}

.controls i {
  margin: 0 10px;
  font-size: 0.9rem;
}

.controls .cursor {
  width: 100%;
  background-color: gray;
  height: 5px;
  border-radius: 10px;
  margin: 0 20px 0 5px;
  cursor: pointer;
}

.controls .cursor-overlay {
  width: 25%;
  background-color: lightgray;
  height: 5px;
  border-radius: 10px;
}


/* MEDIA QUERY MD */

@media all and (min-width: 769px) and (max-width: 1200px) {

  .track,
  .controls {
    width: 25%;
  }

  .item h4 {
    line-height: 1rem;
  }
}


/* MEDIA QUERY SM */

@media all and (max-width: 768px) {

  .track,
  .controls {
    width: 25%;
  }

  .track-fav {
    flex-flow: column;
    justify-content: space-around;
  }
}


/* MEDIA QUERY XS */

@media all and (max-width: 576px) {
  .main-menu {
    display: none;
  }

  .main-menu-mobile {
    display: flex;
    background-color: #000000;
    width: 50px;
    min-width: 50px;
    flex-flow: column;
    justify-content: space-between;
  }

  .main-menu-mobile-top img {
    width: 28px;
  }

  .logo-small {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .main-menu-mobile-top {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 15%;
  }

  .main-menu-mobile-bottom {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 8%;
  }

  .main-menu-mobile-bottom img {
    height: 25px;
    width: 25px;
  }

  .main-menu-mobile-bottom>a:nth-child(1)>img {
    width: 15px;
  }

  .main-menu-mobile-bottom>a:nth-child(2)>img {
    background-color: grey;
    border-radius: 50%;
  }

  .covers_section {
    width: calc(100% - 50px);
  }

  .subscribe_banner {
    width: calc(100% - 50px);
  }

  .controls i {
    margin: 0 2px;
    font-size: 0.9rem;
  }

  .track-cover img {
    width: 20px;
    height: 20px;
  }

  .play-controls i {
    font-size: 15px;
  }
}